.movie-card {
    border: 1px solid black;
    width: 320px;
    padding: 10px;
    margin: 0;
    padding: 10px;
}

.card-statistics {
    display: flex;
    justify-content: space-between;
}

.thumbnail-img img {
    width: 298px; 
    height: 163px;
}


.likes-container {
    display: flex;
    flex-direction: row;
}


.card-statistics {
    font-size: 12px;
    display: flex;
    flex-direction: row;
}



.stats-views {
    padding: 3px
}

.stats-likes {
    padding: 3px
}

