.movie-card {
    /* border: 1px solid #B2BEB5; */
    width: 320px;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.card-statistics {
    display: flex;
    justify-content: space-between;
}

.thumbnail-img img {
    width: 318px; 
    height: 163px;
}
.card-title {
    font-weight: bold;
}

.thumbnail-img img:hover {
    cursor: pointer;
}

.likes-container {
    display: flex;
    flex-direction: row;
}


.card-statistics {
    font-size: 12px;
    display: flex;
    flex-direction: row;
}

.card-buttons {
    margin-top: auto;
}


.stats-views {
    padding: 3px
}

.stats-likes {
    padding: 3px
}

