.listview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
}

.list-item {
    border: 1px solid black;
    max-width: 800px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.content-statistics {
    display: flex;
    flex-direction: row;
}

.content-statistics div {
    padding-right: 5px;
}