body {
    margin: auto;
    background-color: #f9f9f9!important;
    font-size: 0.9rem!important;
}

.App {
    margin: 0 auto;
    max-width: 1000px;
}
.App-header {
    margin-top: 10px;
    margin-bottom: 0;
}

header {
    display: flex;
    justify-content: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

}